$color-light: #fff;
$color-dark: #333;
$color-iconos: #beebff;
$color-principal: navy;

.seccion {
  padding: 8rem 0 7rem;
  text-align: center;

  &__cabecera,
  &__descripcion {
    margin-bottom: 1.2rem;
  }
}

.showcase {
  &__imagen {
    position: relative;
    max-width: 80%;
    margin: 3rem auto -12rem;
  }

  &__cabecera {
    @media screen and (min-width: 768px) {
      font-size: 3.5rem;
      padding-top: 11rem;
    }
  }
}

.seccion-a {
  background-image: url('../img/section-bg.jpg');
  background-size: cover;
  padding-bottom: 5rem;
  color: $color-light;
  .fa {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: $color-iconos;
  }
  h5 {
    margin-bottom: .3rem;
  }
}

.seccion-c {
  background-image: url('../img/section-bg.jpg');
  background-size: cover;
  color: $color-light;
  .seccion__cabecera {
    color: $color-dark;
  }
  .seccion__descripcion {
    margin-bottom: 4rem;
    color: $color-principal;
  }
}
