.seccion {
  padding: 8rem 0 7rem;
  text-align: center; }
  .seccion__cabecera, .seccion__descripcion {
    margin-bottom: 1.2rem; }

.showcase__imagen {
  position: relative;
  max-width: 80%;
  margin: 3rem auto -12rem; }
@media screen and (min-width: 768px) {
  .showcase__cabecera {
    font-size: 3.5rem;
    padding-top: 11rem; } }

.seccion-a {
  background-image: url("../img/section-bg.jpg");
  background-size: cover;
  padding-bottom: 5rem;
  color: #fff; }
  .seccion-a .fa {
    font-size: 2.5rem;
    margin-bottom: .5rem;
    color: #beebff; }
  .seccion-a h5 {
    margin-bottom: .3rem; }

.seccion-c {
  background-image: url("../img/section-bg.jpg");
  background-size: cover;
  color: #fff; }
  .seccion-c .seccion__cabecera {
    color: #333; }
  .seccion-c .seccion__descripcion {
    margin-bottom: 4rem;
    color: navy; }

/*# sourceMappingURL=estilos.css.map */
